# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [3]:
import pandas as pd
import numpy as np

In [69]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [72]:
black_friday.describe() #537577.00000

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.375770e+05,537577.00000,537577.000000,537577.000000,370591.000000,164278.000000,537577.000000
mean,1.002992e+06,8.08271,0.408797,5.295546,9.842144,12.669840,9333.859853
std,1.714393e+03,6.52412,0.491612,3.750701,5.087259,4.124341,4981.022133
min,1.000001e+06,0.00000,0.000000,1.000000,2.000000,3.000000,185.000000
25%,1.001495e+06,2.00000,0.000000,1.000000,5.000000,9.000000,5866.000000
50%,1.003031e+06,7.00000,0.000000,5.000000,9.000000,14.000000,8062.000000
75%,1.004417e+06,14.00000,1.000000,8.000000,15.000000,16.000000,12073.000000
max,1.006040e+06,20.00000,1.000000,18.000000,18.000000,18.000000,23961.000000

In [122]:
#Q1 - black_friday.shape 
#Q2 - black_friday.loc[(black_friday['Gender'] == 'F') & (black_friday['Age'] == '26-35')]['User_ID'].count()
#Q3 - black_friday['User_ID'].nunique() #5891
#Q4 - black_friday.dtypes.nunique()
#Q5 - float(black_friday['Product_Category_3'].isna().sum()/black_friday.shape[0])
#Q6 - black_friday['Product_Category_3'].isna().sum()
#Q7 - black_friday.loc[black_friday['Product_Category_3'].isna() == False]['Product_Category_3'].value_counts().idxmax()
#Q8 - purchase_values = black_friday['Purchase']
#     purchase_normal = (purchase_values-min(purchase_values))/(max(purchase_values)-min(purchase_values))
#     purchase_normal.mean()
#Q9 - from sklearn.preprocessing import StandardScaler
#     std_purchase = StandardScaler().fit_transform(black_friday[['Purchase']])
#     std_purchase = pd.DataFrame(std_purchase, columns=['std_purchase'])
#     std_purchase.loc[(std_purchase['std_purchase'] >= -1) & (std_purchase['std_purchase'] <= 1)].count()[0]
#     348631
#Q10  x = not (False in black_friday.loc[black_friday['Product_Category_2'].isna() == True]['Product_Category_3'].isna().unique())
#     x

True

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [4]:
def q1():
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [124]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return int(black_friday.loc[(black_friday['Gender'] == 'F') & (black_friday['Age'] == '26-35')]['User_ID'].count())

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [6]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday['User_ID'].nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [7]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return black_friday.dtypes.nunique()

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [8]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return float(black_friday['Product_Category_3'].isna().sum()/black_friday.shape[0])

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [9]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(black_friday['Product_Category_3'].isna().sum())

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [10]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return black_friday.loc[black_friday['Product_Category_3'].isna() == False]['Product_Category_3'].value_counts().idxmax()

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [11]:
def q8():
    # Retorne aqui o resultado da questão 8.
    purchase_values = black_friday['Purchase']
    purchase_normal = (purchase_values-min(purchase_values))/(max(purchase_values)-min(purchase_values))
    return float(purchase_normal.mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [125]:
def q9():
    from sklearn.preprocessing import StandardScaler
    std_purchase = StandardScaler().fit_transform(black_friday[['Purchase']])
    std_purchase = pd.DataFrame(std_purchase, columns=['std_purchase'])
    return int(std_purchase.loc[(std_purchase['std_purchase'] >= -1) & (std_purchase['std_purchase'] <= 1)].count()[0])

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [123]:
def q10():
    # Retorne aqui o resultado da questão 10.
    return (not (False in black_friday.loc[black_friday['Product_Category_2'].isna() == True]['Product_Category_3'].isna().unique()))